<h1>Registrations Summary</h1>

<div class='add_registration'>
  <%= form_for(:registration) do |f| %>
    <%= f.hidden_field :dog_id, value: 1%>
    <%= f.date_field :registration_start %>
    <%= f.date_field :registration_end %>
    <%= f.text_field :rate_id %>
    <%= f.submit value="add reg." %>
  <% end %>
</div>

<div>
  
	 <% @registrations.each do |reg| %>
	   <p>
	   <%= reg.id %>
	   <%= reg.registration_start %>
	   <%= reg.registration_end %>
     <%= reg.rate_id %>
	   <%= link_to("details", edit_registration_path(reg)) %>	 
	 <%= button_to "delete", { action: "destroy", id: reg.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
       </p>
     <% end %>
  
</div>

<%= link_to "Back", :back %>