<H1> ALL Registrations </H1>
<% @rates = Rate.all%>

<div class='add_registration'>
  <%= form_for(:dog_reg) do |f| %>
    <%= f.hidden_field :dog_id, value: 1%>
    <%= f.date_field :registration_start %>
    <%= f.date_field :registration_end %>
    <% @rates.each do |rate| %>
      <%= f.radio_button :rate_id,rate.id%><%= rate.period%> months - $<%= rate.cost%>      
    <% end %>
    <%= f.submit value="add reg." %>
  <% end %>
</div>

<% if @registrations.present? %>
  ID - FROM - TO - Period (months)</p>
  <% @registrations.each do |reg| %>
    <p>
      <%= reg.id %>
      <b><i><%= (reg.registration_start).strftime("%d-%m-%Y") %></i></b> to 
      <b><i><%= (reg.registration_end).strftime("%d-%m-%Y") %></i></b>
      <%= (@rates.find(reg.rate_id)).period %> months
    </p>
  <% end %>
<% end %>